.list_of_lesson{
    padding: 50px 80px 0 80px;
    @media(max-width:991px){
        padding: 30px 20px 0 20px;
    }
    @media(max-width:767px){
        padding: 30px 0px 0 0px;
    }
    .list_lesson{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 22px;
            font-weight:600;
        }
        button{
            background: #64B3E6;
            border-color: #64B3E6;
            border-radius: 0;
            display: flex;
            align-items: center;
            padding: 6px 12px;
            &:focus{
                box-shadow: none;
            }
            svg{
                margin-right: 4px;
                font-size: 14px;
            }
        }
    }
    .lesson_data{
        padding-top: 8px;
        table{
            th{
                font-weight: 500;
            }
        }
    }
}