
#search-center{
  display: flex;
  font-size: 14px;
  padding: 5px 10px;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
}

.button-upload-org {
  position: relative;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background-color: #063c5f;
  color: aliceblue;
}
.button-upload-org1 {
  position: relative;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background-color: #063c5f;
  color: aliceblue;
}
.button-upload-org2 {
  position: relative;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
}

.button-upload-org:hover {
  left: 0;
  color: rgb(131, 127, 127);
  width: auto;
  background-color: #063c5f;
}


.button-upload-org1:focus {
  outline: none;
}


.button-upload-org2:focus {
  outline: none;
}
.button-upload-org:focus {
  outline: none;
}
.button-upload-org1:hover {
  left: 0;
  color: rgb(131, 127, 127);
  width: auto;
  background-color: #063c5f;
 
 
}
