.sidebar {
    margin: 0;
    padding: 0;
    min-width: 20%;
    max-width: 25%;
    background-color: #b4b9b4;
    height: 100%;
    overflow: auto;
  }
  ::-webkit-scrollbar{
      width: 5px;
  } 
  ::-webkit-scrollbar-thumb{
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track{
    background-color: 'red'
  } 


  .link {
    padding: 10px 16px;
    background-color: #889b33;
    cursor: pointer;
    font-size: 18px;
    display: flex;
  }
  .active {
    background-color: rgb(148, 190, 90);
    color: white;
  }
  .link:hover {
    background-color: rgb(156, 188, 139);
    color: white;
  }

  .sidebar a {
    display: block;
    color: #889b33;
    padding: 16px;
    text-decoration: none;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }
    div.content {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  svg {
    margin-left: 10px;
  }
  .avatar {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  img{
    margin-right: 8px;
  }
  
  div .message-count{
    background-color:green;
    text-align: center;
    width: 23px;
    padding: 2px;
    font-size: 10px;
    border-radius: 50%;
    float: right;
  }