.chatroom{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 10px;
  /* height: 130px; */
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: rgb(70, 68, 68);
  color: white;
}


/* Style time text */
.time-right {
  float: left;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: rgb(192, 182, 182);

}

input {
  width: 75%;
  padding: 12px 20px;
  margin-top: 25%;
  border: 2px solid #555;
}

    /* Style images */
.container img {
float: left;
max-width: 40px;
/* width: 100%; */
margin-right: 20px;
border-radius: 50%;
}


/* Style the right image */
.container img.right {
float: right;
margin-left: 20px;
margin-right:0;
}

/* avatar name */
.name{
color: rgb(255, 255, 255);
font-size: 15px;
}
.container span.right{
float: right;
}

.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 85%;
  width: 75%;
  overflow: auto;

}


.box{
  position: fixed;
  width: 75%;
  padding: 10px 15px;
  margin-left: 23%;

}
.input_text{
  height: 59px;
  border-radius: 10px;
}
.btn-outline-success{
  height: 55px;
  width: 100px;
  font-size: 200px;
  margin-left: 2%;
  position: fixed;
  border: 2px solid green;
}

#right{
  float: right;
  font-size: 18px;
  font-weight: bold; 
  border-radius: 15px;
  width: 60%;
}

#left{
  float: left;
  background-color: #555;
  font-size: 18px;
  font-weight: bold; 
  border-radius: 15px;
  margin-right: 10%;
  width: 60%;

}
#left img {
  float: left;
  margin-left: 10px;
  /* margin-right:0; */
}
#left p{
  margin-left: 80px;
  color: white;  
}
/* .chat-content
} */