.App {
  margin: 0px;
  padding: 0px;
}
.row {
  margin: 0px;
  padding: 0px;
}
.col {
  margin: 0px;
  padding: 0px;
}
.table-responsive {
  margin: 0px;
  padding: 0px;
}
.table-responsive tr {
  margin: 0px;
  padding: 0px;
}

td {
  word-wrap: break-word;
}
